<div class="loading-div">
    <div class="loading-header">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_back"></mat-icon>
        <span>YouCan Chat</span>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
    </div>
    <div class="loading-content">
        <div class="loading-gif">
            <img src="assets/img/loading.gif" alt="">
        </div>
        <div class="loading-p">
            <p>Cargando...</p>
        </div>
    </div>
</div>